In [53]:
import numpy as np
import pandas as pd 
import seaborn as sns
# import matplotlab.pyplot as plt

In [55]:
dataset= pd.read_csv("Practice1.csv")

In [57]:
dataset.head (9)

,Project Name,Task Name,Assigned to,Start Date,Days Required,End Date,Progress
0,Marketing,Market Research,Alice,1/1/2024,13,1/14/2024,78%
1,Marketing,Content Creation,Bob,1/14/2024,14,1/28/2024,100%
2,Marketing,Social Media Planning,Charlie,1/28/2024,22,2/19/2024,45%
3,Marketing,Campaign Analysis,Daisy,2/18/2024,25,3/14/2024,0%
4,Product Dev,Prototype Development,Ethan,1/2/2024,18,1/20/2024,100%
5,Product Dev,Quality Assurance,Fiona,1/20/2024,10,1/30/2024,78%
6,Product Dev,User Interface Design,Gabriel,2/4/2024,25,2/29/2024,0%
7,Customer Svc,Service Improvement,Hannah,2/1/2024,22,2/23/2024,100%
8,Customer Svc,Ticket Resolution,Ian,2/24/2024,25,3/20/2024,100%

In [59]:
min_r=dataset["Days Required"].min()
max_r= dataset["Days Required"].max()

In [61]:
min_r,max_r

(10, 60)

range = max_r - min_r

In [71]:
range

range