In [1]:
# encoding and dummy veriable

In [3]:
# onr hot encoding

In [5]:
import pandas as pd

In [7]:
data= pd.read_csv("loan.csv")

In [9]:
data

,customer_id,customer_age,customer_income,home_ownership,employment_duration,loan_intent,loan_grade,loan_amnt,loan_int_rate,term_years,historical_default,cred_hist_length,Current_loan_status
0,1.0,22,59000,RENT,123.0,PERSONAL,C,"£35,000.00",16.02,10,Y,3,DEFAULT
1,2.0,21,9600,OWN,5.0,EDUCATION,A,"£1,000.00",11.14,1,NaN,2,NO DEFAULT
2,3.0,25,9600,MORTGAGE,1.0,MEDICAL,B,"£5,500.00",12.87,5,N,3,DEFAULT
3,4.0,23,65500,RENT,4.0,MEDICAL,B,"£35,000.00",15.23,10,N,2,DEFAULT
4,5.0,24,54400,RENT,8.0,MEDICAL,B,"£35,000.00",14.27,10,Y,4,DEFAULT
...,...,...,...,...,...,...,...,...,...,...,...,...,...
32581,32577.0,57,53000,MORTGAGE,1.0,PERSONAL,C,"£5,800.00",13.16,7,NaN,30,NO DEFAULT
32582,32578.0,54,120000,MORTGAGE,4.0,PERSONAL,A,"£17,625.00",7.49,4,NaN,19,NO DEFAULT
32583,32579.0,65,76000,RENT,3.0,HOMEIMPROVEMENT,B,"£35,000.00",10.99,5,N,28,DEFAULT
32584,32580.0,56,150000,MORTGAGE,5.0,PERSONAL,B,"£15,000.00",11.48,6,NaN,26,NO DEFAULT
32585,32581.0,99,42000,RENT,2.0,MEDICAL,B,"£6,475.00",9.99,6,NaN,30,NO DEFAULT

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32586 entries, 0 to 32585
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   customer_id          32583 non-null  float64
 1   customer_age         32586 non-null  int64
 2   customer_income      32586 non-null  object
 3   home_ownership       32586 non-null  object
 4   employment_duration  31691 non-null  float64
 5   loan_intent          32586 non-null  object
 6   loan_grade           32586 non-null  object
 7   loan_amnt            32585 non-null  object
 8   loan_int_rate        29470 non-null  float64
 9   term_years           32586 non-null  int64
 10  historical_default   11849 non-null  object
 11  cred_hist_length     32586 non-null  int64
 12  Current_loan_status  32582 non-null  object
dtypes: float64(3), int64(3), object(7)
memory usage: 3.2+ MB

In [13]:
data.isnull().sum()

customer_id                3
customer_age               0
customer_income            0
home_ownership             0
employment_duration      895
loan_intent                0
loan_grade                 0
loan_amnt                  1
loan_int_rate           3116
term_years                 0
historical_default     20737
cred_hist_length           0
Current_loan_status        4
dtype: int64

In [31]:
data["historical_default"].fillna(data["historical_default"].mode()[0],inplace=True)

In [37]:
data["Current_loan_status"].fillna(data["Current_loan_status"].mode()[0],inplace=True)

In [43]:
data["historical_default"].fillna(data["historical_default"].mode()[0],inplace=True)

In [46]:
data.isnull().sum()

customer_id               3
customer_age              0
customer_income           0
home_ownership            0
employment_duration     895
loan_intent               0
loan_grade                0
loan_amnt                 1
loan_int_rate          3116
term_years                0
historical_default        0
cred_hist_length          0
Current_loan_status       0
dtype: int64

In [48]:
from sklearn.preprocessing import OneHotEncoder

In [104]:
edata= data[["historical_default","Current_loan_status"]]
pd.get_dummies(edata).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32586 entries, 0 to 32585
Data columns (total 4 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   historical_default_N            32586 non-null  bool
 1   historical_default_Y            32586 non-null  bool
 2   Current_loan_status_DEFAULT     32586 non-null  bool
 3   Current_loan_status_NO DEFAULT  32586 non-null  bool
dtypes: bool(4)
memory usage: 127.4 KB

In [94]:
edata

      historical_default Current_loan_status      loan_intent home_ownership
0                      Y             DEFAULT         PERSONAL           RENT
1                      Y          NO DEFAULT        EDUCATION            OWN
2                      N             DEFAULT          MEDICAL       MORTGAGE
3                      N             DEFAULT          MEDICAL           RENT
4                      Y             DEFAULT          MEDICAL           RENT
...                  ...                 ...              ...            ...
32581                  Y          NO DEFAULT         PERSONAL       MORTGAGE
32582                  Y          NO DEFAULT         PERSONAL       MORTGAGE
32583                  N             DEFAULT  HOMEIMPROVEMENT           RENT
32584                  Y          NO DEFAULT         PERSONAL       MORTGAGE
32585                  Y          NO DEFAULT          MEDICAL           RENT

[32586 rows x 4 columns]

In [114]:
ohe= OneHotEncoder(drop="first")

In [116]:
arr=ohe.fit_transform(edata).toarray()
arr

array([[1., 0.],
       [1., 1.],
       [0., 0.],
       ...,
       [0., 0.],
       [1., 1.],
       [1., 1.]])

In [120]:
# pd.DataFrame(arr,columns=[["historical_default_N","historical_default_Y","Current_loan_status_DEFAULT","Current_loan_status_NO DEFAULT"]])
pd.DataFrame(arr,columns=[["historical_default_Y","Current_loan_status_NO DEFAULT"]])

      historical_default_Y Current_loan_status_NO DEFAULT
0                      1.0                            0.0
1                      1.0                            1.0
2                      0.0                            0.0
3                      0.0                            0.0
4                      1.0                            0.0
...                    ...                            ...
32581                  1.0                            1.0
32582                  1.0                            1.0
32583                  0.0                            0.0
32584                  1.0                            1.0
32585                  1.0                            1.0

[32586 rows x 2 columns]

# Lable encoding